// Fortissimo


@import "type-scale";
@import "type-utilities";

@import "helvetica";
@import "merriweather";
@import "garamond";
@import "open-sans";

@import "cardo";
@import "source-sans";

/*
  <!--
  <style>
    .georgia { font-family: Georgia, serif; }

    .source-sans { font-family: 'Source Sans Pro', sans-serif; }
    .pt-sans { font-family: 'PT Sans', sans-serif; }
  </style>
  -->
  <!--
    Fonts:
    Vollkorn
    Gentium Book
    Lato
    Oswald
    Old Standard TT
    PT Serif

  -->
 */
