// Fortissimo


@import "type-scale";
@import "type-utilities";

@import "helvetica";
@import "merriweather";
@import "garamond";
@import "open-sans";

/*
  <!--
  <style>
    .georgia { font-family: Georgia, serif; }
    .merriweather { font-family: 'Merriweather', serif; }
    .garamond { font-family: 'EB Garamond', serif; }
    .cardo { font-family: 'Cardo', serif; }

    .helvetica { font-family: 'Helvetica Neue', Helvetica, sans-serif; }
    .open-sans { font-family: 'Open Sans', sans-serif; }
    .source-sans { font-family: 'Source Sans Pro', sans-serif; }
    .pt-sans { font-family: 'PT Sans', sans-serif; }
  </style>
  -->
  <!--
    Fonts:
    Vollkorn
    Gentium Book
    Lato
    Oswald
    Old Standard TT
    PT Serif

  -->
 */
