/*
 * Type A: Source Code Pro
 * 
 * Type A
 * Responsive type styles for Google Webfonts
 * http://jxnblk.github.io/type-a
 *
 *
 * Usage:
 *
 * 1. Include this link in the HTML document head:
 *    <link href="http://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
 *
 * 2. Link to or include this CSS file.
 *    <link href="source-code-pro.css" rel="stylesheet">
 *
 * 3. Optionally, include the type-utilities CSS file.
 *
 *
 * Source Code Pro on Google Webfonts: https://www.google.com/fonts/specimen/Source+Code+Pro
 *
 */


.monospace {
  font-family: 'Source Code Pro', monospace;
  line-height: 1.5rem;
}

pre, code, samp {
  font-family: 'Source Code Pro', monospace;
  font-size: inherit;
  overflow: auto;
}

