// Garamond

.garamond {

  //$scale-ratio: 1.125;

  font-family: 'EB Garamond', serif;
  line-height: 1.5rem;

  h1 { font-size: 2rem; line-height: 3rem; }
  h2 { font-size: 1.5rem; line-height: 2rem; }
  h3 { font-size: 1.25rem; line-height: 2rem; }

  h4, p, dl, ol, ul { font-size: 1rem; }
  h5 { font-size: .875rem; }
  h6, small { font-size: .75rem; }

  @media screen and (min-width: 48em) {
    h1 { font-size: 3rem; line-height: 4rem; }
    h2 { font-size: 2rem; line-height: 3rem; }
    h3 { font-size: 1.5rem; line-height: 2rem; }

    h4, p, dl, ol, ul { font-size: 1.25rem; line-height: 2rem; }
    h5 { font-size: 1rem; }
    h6, small { font-size: .875rem; }
  }

  @media screen and (min-width: 64em) {
    h1 { font-size: 4rem; line-height: 5rem; }
    h2 { font-size: 3rem; line-height: 4rem; }
  }

}

