// Source Code Pro

.source-code {

  font-family: 'Source Code Pro', monospace;
  line-height: 1.5rem;

  pre, code, samp {
    font-family: 'Source Code Pro', monospace;
    font-size: inherit;
    overflow: auto;
  }

}

