// Type scale

$h1: 2rem;
$h2: 1.5rem;
$h3: 1.25rem;
$h4: 1rem;
$h5: .875rem;
$h6: .75rem;

$bp1: 48em;
$bp1-h1: 4rem;
$bp1-h2: 2rem;
$bp1-h3: 1.5rem;
$bp1-h4: 1.25rem;
$bp1-h5: 1rem;
$bp1-h6: .875rem;

$bp2: 64em;
$bp2-h1: 6rem;
$bp2-h2: 3rem;

