
@import "basscss-base";
@import "basscss-utilities";
@import "basscss-grid";
@import "basscss-table-object";

:root {
  /*
  --font-family: Georgia, serif;
  */
  --dark-gray: #445;
  --blue: #0076df;
  --red: #e05300;
  --light-gray: #ece6e0;
  --mid-gray: #666670;
  --space-3: 3rem;
  --space-4: 6rem;
}

/* Basscss override */
.caps { letter-spacing: 0 }

body {
  color: var(--dark-gray);
  background-color: white;
}

/* Type A
 */

@import "./tracking";
@import "./size";
@import "./baseline";
@import "./line-height";
@import "./weights";
@import "./alignment";
@import "./type-style";

@import "./typefaces";

/* Experimental */
@import "./big-headings";
@import "./half-height";
@import "./hr";


/* Color */
.tomato { color: tomato }
.red { color: var(--red) }
.mid-gray { color: var(--mid-gray) }

.bg-light-gray { background-color: var(--light-gray) }

