
.hr-symbol {
  border: 0;
  border-bottom: 1px solid;
  position: relative;
}
.hr-symbol:after {
  content: attr(data-text);
  position: absolute;
  left: 0; right: 0;
  top: -.75em;
  display: block;
  font-size: 2em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  margin: 0 auto;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  background-color: white;
}

